@import './../../../styles/_variables.scss';

.select {
  display: inline-flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  background: none;
  border: 1px solid $color-dark-blue;

  color: $color-dark-blue;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 11px;

  @media screen and (max-width: $mobile-s) {
    margin-bottom: 10px;
  }

  .selectedOption {
    display: flex;
    align-items: center;
  }

  .selectedOption > :first-child {
    margin-right: 10px;
  }

  .arrowIcon {
    @include background-style;
    background-image: url('./../../../assets/select/arrow-close.svg');
    width: 23px;
    height: 11px;
  }

  .open {
    @include background-style;
    background-image: url('./../../../assets/select/arrow-open.svg');
    width: 23px;
    height: 11px;
  }
}

.selectOpen {
  background-color: $color-dark-blue;
  color: $color-white;
}