@import './../../../styles/_variables.scss';

.icon {
  @include background-style;
  width: 36px;
  height: 36px;

  &.whatsapp {
    background-image: url('./../../../assets/icons/whatsapp.svg');
  }

  &.telegram {
    background-image: url('./../../../assets/icons/telegram.svg');
  }

  &.wallet {
    width: 70px;
    height: 70px;
    background-image: url('./../../../assets/icons/wallet.svg');
  }

  &.options {
    width: 30px;
    height: 32px;
    background-image: url('./../../../assets/icons/options.svg');
  }

  &.prev1 {
    width: 70px;
    height: 70px;
    background-image: url('./../../../assets/icons/privileges/icon1.svg');
  }

  &.prev2 {
    width: 70px;
    height: 70px;
    background-image: url('./../../../assets/icons/privileges/icon2.svg');
  }

  &.prev3 {
    width: 70px;
    height: 60px;
    background-image: url('./../../../assets/icons/privileges/icon3.svg');
  }
}
