@import './../../../styles/_variables.scss';

.title {
  color: $color-dark-blue;
  font-family: 'Lora';
  font-size: 36px;
  font-weight: 700;

  @media screen and (max-width: $laptop) {
    font-size: 30px;
  }

  @media screen and (max-width: $desktop) {
    font-size: 25px;
  }
}
