@import './../../../styles/_variables.scss';

.container {
  width: 100%;
  padding: 38px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark-blue;
	opacity: 0.9;

	@media screen and (max-width: $laptop) {
		padding: 30px 100px;
	}

	@media screen and (max-width: $desktop) {
		padding: 30px 60px;
		justify-content: center;
	}

	@media screen and (max-width: $mobile-s) {
		padding: 30px 40px;
	}

  .logo {
    display: flex;
    align-items: center;
		cursor: pointer;
  }

  .logo > :first-child {
    margin-right: 34px;

		@media screen and (max-width: $mobile-s) {
			margin-right: 15px;
		}
  }

	.map {
		font-size: 14px;
		font-family: 'Open Sans';
		font-weight: 400;
		color: $color-white;

		@media screen and (max-width: $mobile-m) {
			font-size: 12px;
			margin-left: 10px;
		}
	}

	.map > :first-child {
		margin-bottom: 4px;
		font-weight: 700;
	}

	.contacts {
		display: flex;
		align-items: center;
	}

	.contacts > :first-child {
		margin-right: 73px;

		@media screen and (max-width: $mobile-m) {
			margin-right: 43px;
		}

		@media screen and (max-width: $mobile-s) {
			margin-right: 13px;
		}
	}

	.media {
		display: flex;
		align-items: center;
		cursor: pointer;

		@media screen and (max-width: $mobile-s) {
			flex-direction: column;
			align-items: center;
		}
	}

	.media > :first-child {
		margin-right: 16px;

		@media screen and (max-width: $mobile-s) {
			margin-right: 0;
			margin-bottom: 5px;
		}
	}

	.number {
		font-family: 'Open Sans';
		font-weight: 700;
		color: $color-white;
		font-size: 20px;
		margin: 0 20px;
		cursor: pointer;

		@media screen and (max-width: $desktop) {
			font-size: 18px;
		}

		@media screen and (max-width: $mobile-m) {
			font-size: 14px;
			margin: 0 20px;
		}
	}
}
