@import './../../../styles/_variables.scss';

.container {
  display: flex;
  align-items: center;
  max-width: 915px;
  justify-content: space-between;
  margin-bottom: 45px;

  .btnApply {
    padding: 18px 32px;
    border: none;
    background-color: $color-grey;
    color: $color-dark-blue;
    font-family: 'Open Sans';
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 11px;
  }

  .btnReset {
    padding: 18px 32px;
		border: 1px solid $color-dark-blue;
		background: none;
		color: $color-dark-blue;
		font-family: 'Open Sans';
    font-size: 16px;
    text-transform: uppercase;

    
    @media screen and (max-width: $mobile-s) {
      padding: 18px 38px;
    }
  }

	.filters {
		@media screen and (max-width: $mobile-s) {
      display: flex;
      flex-wrap: wrap;
    }
	}

  .btns > :first-child {
    @media screen and (max-width: $mobile-s) {
      margin-bottom: 10px;
    }
  }
}
