@import './../../../styles/_variables.scss';

.container {
	display: flex;
	align-items: center;
	padding: 18px 32px;
	background-color: $color-dark-blue;
	opacity: 0.8;
	border-radius: 10px;
	position: relative;

	.text {
		color: $color-white;
		font-family: 'Open Sans';
		font-size: 18px;
		font-weight: 400; 
	}

	.icon {
		position: absolute;
		right: -15px;
	}
}