@import './../../../styles/_variables.scss';

.label {
  color: $color-dark-blue;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;

  .count {
    position: absolute;
    right: -1.7em;
    font-size: 0.7em;
  }
}
