// colors
$color-dark-blue: #002b45;
$color-white: #fff;
$color-light: #fbf6ef;
$color-dark: #001623;

// extensions
$mobile-s: 360px;
$mobile-l: 480px;
$mobile: 768px;
$desktop: 1280px;
$laptop: 1440px;
$laptop-l: 1700px;

// mixins
@mixin background-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
